[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
django-heroku = "*"
python-decouple = "*"

[requires]
python_version = "3.8.1"
